.App {
  text-align: center;
}
.to-do {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo-cont {
  width: 20rem;
  overflow-x: hidden;
  overflow-y: auto;
  height: 30rem;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
    rgb(0 0 0 / 9%) 0px -3px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-color-form {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 250px;
  
}
.list {
  text-align: center;
  margin-left: 16%;
}
.product-cont {
  margin-left: 11rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.product {
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 9px;
}
.add-product {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 7px;
  margin-top: 9px;
  margin-bottom: 4px;
  height: 15.4rem;
  width: 18.8rem;
}
.task {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 8px;
  background-color: rgb(119, 180, 180);
  height: auto;
  min-height: 3rem;
  width: 15.6rem;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
}
.task-name {
  margin-left: 4px;
  font-style: italic;
}
